body {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif; }

h1,
h2 {
  font-weight: 400; }

.is-sticky .title {
  margin-top: 20px;
  font-size: 25px;
  text-transform: none !important;
  text-shadow: none;
  font-weight: 100; }

header,
#skills {
  background: #0F1626 url("../images/pexels-photo.jpg") no-repeat fixed center;
  background-size: 100% 100%; }

header {
  height: 800px;
  width: 100%; }

.navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.navbar-default .navbar-toggle .icon-bar {
  background-color: orange; }

.navbar-default .navbar-collapse {
  border: none; }

.menu-button {
  background: rgba(0, 0, 0, 0.35);
  border: none !important;
  margin: 12px 30px 0 0; }
  .menu-button:focus {
    background-color: rgba(0, 0, 0, 0.35) !important; }

.my-nav {
  position: fixed;
  height: 65px;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 0;
  font-size: 1.25em;
  z-index: 0; }
  .my-nav .container-fluid {
    padding: 0; }
    .my-nav .container-fluid .in,
    .my-nav .container-fluid .collapsing {
      margin-top: 21px;
      background-color: rgba(0, 0, 0, 0.35); }
  .my-nav a {
    color: #FFF !important; }
  .my-nav li:hover,
  .my-nav li a:hover {
    background-color: inherit;
    color: #E5E5E5 !important; }

.info {
  padding-top: 200px;
  color: #FFF;
  text-shadow: 4px 4px 4px #000000; }
  .info h1 {
    font-size: 5em; }
    .info h1.title {
      text-transform: uppercase; }

section {
  padding-bottom: 25px; }
  section .page-header {
    margin: 0;
    border: none; }
  section .section-body {
    text-align: center;
    padding: 25px 0;
    line-height: 25px;
    width: 50%;
    margin: 0 auto; }
  section .about-body {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 150%;
    padding: 12.5px 0; }
  section h2 {
    margin-top: 0; }

#about {
  background-color: #0F1626; }
  #about .page-header h2 {
    margin-bottom: 25px; }

#skills .skills-content {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px; }

#skills .page-header h2 {
  text-shadow: 4px 4px 4px #000; }

.skill {
  display: block;
  margin: 25px auto;
  border-bottom: 1px solid transparent; }
  .skill i {
    margin: 5px 5px;
    font-size: 5em; }
    .skill i.colored {
      color: #FFF; }
    .skill i:hover {
      color: #C3C3C3; }

.page-header {
  padding-top: 25px; }
  .page-header h2 {
    font-size: 40px; }

.main-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto; }

footer {
  padding: 25px;
  background-color: #0F1626; }
  footer a {
    color: #FFF; }
    footer a:hover {
      color: #F2F2F2; }
  footer .icons {
    margin-bottom: 10px; }
  footer .copyright {
    display: block; }

.fa {
  font-size: 3em;
  text-decoration: none;
  padding: 0 5px; }

@media (max-width: 767px) {
  .my-nav .navbar-right {
    padding-right: 0; }
  .my-nav li {
    text-align: center;
    padding: 0; }
    .my-nav li:last-child {
      border-bottom: none; }
    .my-nav li a {
      width: 100%; }
  .section-body {
    margin: 0 auto; } }

@media (min-width: 768px) {
  .my-nav .container-fluid .in,
  .my-nav .container-fluid .collapsing {
    margin-top: 0px;
    background-color: transparent !important; }
  .navbar-right {
    padding: 5px 50px 0 0; }
    .navbar-right li {
      padding: 15 20px; } }

@keyframes flash {
  from-background-color: #FFF;
  to-background-color: yellow; }

/*# sourceMappingURL=styles.css.map */
