$mainBodyColor: #0F1626; 

body {
	color: #FFF;
	font-family: 'Fira Sans Condenses', sans-serif;
}

h1,
h2 {
	font-weight: 400;
}

.is-sticky {
	.title {
		margin-top: 20px;
		font-size: 25px;
		text-transform: none !important;
		text-shadow: none;
	}
}

header,
#skills {
	background: $mainBodyColor url('../images/pexels-photo.jpg') no-repeat fixed center;
	background-size: 100% 100%; 
}

header {
	height: 800px;
	width: 100%;
}

.my-nav {
	position: fixed;
	height: 65px;
	top: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0,0,0,.35);
	border: none;
	font-size: 1.25em;
	z-index: 0;
	a {
		color: #FFF !important;
	}
	li {
		&:hover,
		a:hover {
			background-color: inherit;
			color: #E5E5E5 !important;
		}
	}
}

.info {
	padding-top: 200px;
	color: #FFF;
	text-shadow: 4px 4px 4px #000000;
	h1 {
		font-size: 5em;
		&.title {
			text-transform: uppercase;
		}
	}
}

section {
	.page-header {
		margin: 0;
		border: none; 
	}
	.section-body {
		text-align: center;
		padding: 25px 0;
		line-height: 25px;
		width: 50%;
		margin: 0 auto;
	}
	.about-body {
		font-size: 18px;
		font-weight: 400;
		text-align: justify;
		line-height: 150%;
		padding: 12.5px 0;
	}
}

#about {
	background-color: $mainBodyColor;
	height: 750px;
	.page-header {
		h2 {
			margin-bottom: 25px;
		}
	}
}

#skills {
	height: 550px;
	.skills-content {
		background-color: rgba(0, 0, 0, .35);
		border-radius: 15px;
	}
	.page-header {
		h2 {
			text-shadow: 4px 4px 4px #000;
		}
	}
}

.skill {
	display: block;
	margin: 25px auto;
	border-bottom: 1px solid transparent;
	i {
		margin: 5px 5px;
		font-size: 5em;
		&.colored {
			color: #FFF;
		}
		&:hover {
			color: #F2F2F2;
		}
	}
}


.page-header {
	padding-top: 25px;
	h2 {
		font-size: 40px;
	}
}

.main-pic {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

footer {
	padding: 25px;
	background-color: $mainBodyColor;
	a {
		color: #FFF;
		&:hover {
			color: #F2F2F2
		}
	}
	.icons {
		margin-bottom: 10px;
	}
	.copyright {
		display: block;
	}
}

.fa {
	font-size: 3em;
	text-decoration: none;
	padding: 0 5px;
}

@media (max-width: 767px) {
	.my-nav {
		.navbar-right {
			padding-right: 0;
		}
		li {
			text-align: center;
			padding: 0;
			&:last-child {
				border-bottom: none;
			}
			a {
				width: 100%;
			}
		}
	}
}

@media (min-width: 768px) {
	.navbar-right {
		padding: 5px 50px 0 0;
		li {
			padding: 15 20px;
		}
	}
}

@keyframes flash {
	from: { background-color: #FFF }
	to: { background-color: yellow }
}