body {
	color: #FFF;
}

header {
	background: #000 url('../imgs/pexels-photo.jpg') no-repeat fixed center;
	background-size: 100% 100%; 
	height: 800px;
	width: 100%;
}

.my-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0,0,0,.25);
	border: none;
	font-size: 1.25em;
	a {
		color: #FFF !important;
	}
	li {
		&:hover,
		a:hover {
			background-color: inherit;
			color: #E5E5E5 !important;
		}
	}
}

.info {
	padding-top: 200px;
	color: #FFF;
	text-shadow: 4px 4px 4px #000000;
	h1 {
		font-size: 5em;
		&.title {
			text-transform: uppercase;
		}
	}
}

section {
	height: 750px;
	.page-header {
		margin: 0;
		border: none; 
	}
	.section-body {
		text-align: center;
		padding-top: 25px;
		line-height: 25px;
		width: 50%;
		margin: 0 auto;
	}
}

#about {
	background-color: #0F1626;
}

#skills {
	background-color: #FF533D;
}

.page-header {
	padding-top: 50px;
}

.main-pic {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.my-nav {
		.navbar-right {
			padding-right: 0;
		}
		li {
			text-align: center;
			padding: 0;
			&:last-child {
				border-bottom: none;
			}
			a {
				width: 100%;
			}
		}
	}
}

@media (min-width: 768px) {
	.navbar-right {
		padding-right: 50px;
		li {
			padding: 0 20px;
		}
	}
}