<section id="about">
	<div class="page row">
		<div class="page-header">
			<h2 class="text-center">About Me</h2>
			<img class="main-pic img-responsive" src="images/goofy-rectangle.jpg" alt="Goofy temporary picture of me.">
			<p class="section-body about-body">My name is Matthew Carson. I am an aspiring web developer who loves the idea of being able to use technology to solve both simple and complex problems. </p>
			<p class="section-body about-body">I have been learning web development for the past year. Over which I have greatly increased my knowledge of PHP, including the Laravel MVC framework, as well Javascript using the Vue.js front-end framework. Currently I am working on gaining greater familarity with Wordpress and other content management systems.
			I am currently located in the Philadelphia area.</p>
		</div>
	</div>
</section>
