<section id="about">
	<div class="page">
		<div class="page-header">
			<h2 class="text-center">About Me</h2>
			<img class="main-pic img-responsive" src="images/goofy-rectangle.jpg" alt="Goofy temporary picture of me.">
			<p class="section-body about-body">My name is Matthew Carson. I am an aspiring web developer. I have been learning web development for the past year. I love the idea of being able to use technology to solve both simple and complex problems.</p>
		</div>
	</div>
</section>
