<div class="text-center">
	<div class="icons">
		<a href="https://github.com/mcarson24"><i class="fa fa-github" aria-hidden="true"></i></a>
		<a href="/images/matthew_carson_resume_2016.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
	</div>
	<span class="copyright">&copy; {{ 'now'|date('Y') }} Matthew Carson</span>
</div>