<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Matthew Carson | Web Developer</title>
			<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
			<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/animate.css">
			<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,400,700" rel="stylesheet">
			<link rel="stylesheet" href="css/styles.css">
		{% endblock head %}
	</head>
	<body>
		<header>
			<!-- <nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
			        <li><a href="#">Link</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">Link</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>

    </nav> -->
			<nav class="navbar navbar-default my-nav">
				<div class="container-fluid">
					<div class="navbar-header">
    				<button type="button" 
    								class="navbar-toggle collapsed menu-button"
    								data-toggle="collapse" 
    								data-target="#bs-example-navbar-collapse-1" 
    								aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			  	</div>
			  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="about"><a href="#about">About Me</a></li>
			        <li class="skills"><a href="#skills">Skills</a></li>
			        <li class="footer"><a href="#footer">Resume</a></li>
			      </ul>
		      </div>
				</nav>
				<div class="container">
					<div class="info text-center">
						{% block hero %}
							<h1 class="title">Matthew Carson</h1>
							<h3 class="subtitle">Web Developer</h3>
						{% endblock hero %}
					</div>
				</div>
			</header>
			<main>
				{% include '_about.twig' %}
				{% include '_skills.twig' %}
				{% include '_scripts.twig' %}
			</main>
		</div>
		<footer id="footer">
			{% include '_footer.twig' %}
		</footer>
	</body>
</html>